<div class="card ticket" (click)="selectTicket()">
  <!-- we use the {{ }} syntax to display the data, more info: https://angular.io/guide/displaying-data-->
  <h3>Titre : {{ ticket?.title }}</h3>
  <i class="fas fa-calendar-alt"></i>
  {{ ticket?.date | date : "shortTime" }} &nbsp;&nbsp;
  <i class="far fa-user"></i> {{ ticket?.student?.id }}-{{
    ticket?.student?.nom
  }}
  {{ ticket?.student?.prenom }}&nbsp;&nbsp;

  <!-- display the icon for the corresponding major-->
  <i class="fas fa-calculator" *ngIf="ticket?.major == 'SI'"></i>
  <i class="fas fa-laptop" *ngIf="ticket?.major == 'IF'"></i>
  {{ ticket?.major }}

  <button *ngIf="ticket?.archived == false" (click)="deleteTicket()">
    Archiver
  </button>
</div>
